@charset "utf-8";
 
*{
    margin: 0;
    padding: 0;
}
 
body{
    background: linear-gradient(90deg, #a9c9ff, #ffbbec 40%, #ffe1ab); /*背景色*/
    background: -webkit-linear-gradient(0deg, #a9c9ff, #ffbbec 40%, #ffe1ab); /*背景色*/
    display: grid;                  /* CSSグリッド */
    grid-template-columns: 100vw;   /* ビューポート幅最大 */
    grid-template-rows: 100vh;      /* ビューポート高さ最大 */
}
  
main{
    justify-self: center;   /* 横方向中央揃え */
    align-self: center;     /* 縦方向中央揃え */
    font-size: 48px;
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
    }
p{
    color: #1c2462; 
}
